USE [master]
GO
/****** Object:  Database [moveiscarrara]    Script Date: 23/10/2025 21:57:40 ******/
CREATE DATABASE [moveiscarrara]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'moveiscarrara', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\moveiscarrara.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'moveiscarrara_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLEXPRESS\MSSQL\DATA\moveiscarrara_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [moveiscarrara].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [moveiscarrara]
GO
/****** Object:  Table [dbo].[clientes]    Script Date: 23/10/2025 21:57:40 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[clientes](
	[pessoa_codigo] [int] NOT NULL,
 CONSTRAINT [pk_clientes] PRIMARY KEY CLUSTERED 
(
	[pessoa_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[fornecedores]    Script Date: 23/10/2025 21:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[fornecedores](
	[pessoa_codigo] [int] NOT NULL,
 CONSTRAINT [pk_fornecedores] PRIMARY KEY CLUSTERED 
(
	[pessoa_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[pessoas]    Script Date: 23/10/2025 21:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[pessoas](
	[codigo] [int] IDENTITY(1,1) NOT NULL,
	[nome] [varchar](50) NOT NULL,
	[tipo_pessoa] [varchar](20) NOT NULL,
	[documento] [varchar](14) NOT NULL,
	[tipo_documento] [varchar](20) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[telefone] [varchar](20) NOT NULL,
	[cep] [varchar](10) NOT NULL,
	[logradouro] [varchar](50) NOT NULL,
	[nr] [varchar](5) NOT NULL,
	[cidade] [varchar](100) NOT NULL,
	[bairro] [varchar](100) NOT NULL,
 CONSTRAINT [pk_pessoas] PRIMARY KEY CLUSTERED 
(
	[codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_pessoas_documento] UNIQUE NONCLUSTERED 
(
	[documento] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[usuarios]    Script Date: 23/10/2025 21:57:41 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[usuarios](
	[pessoa_codigo] [int] NOT NULL,
	[usuario_nome] [varchar](50) NOT NULL,
	[usuario_senha] [varchar](50) NOT NULL,
 CONSTRAINT [pk_usuarios] PRIMARY KEY CLUSTERED 
(
	[pessoa_codigo] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
 CONSTRAINT [uq_usuarios_usuario_nome] UNIQUE NONCLUSTERED 
(
	[usuario_nome] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[clientes]  WITH CHECK ADD  CONSTRAINT [fk_clientes] FOREIGN KEY([pessoa_codigo])
REFERENCES [dbo].[pessoas] ([codigo])
GO
ALTER TABLE [dbo].[clientes] CHECK CONSTRAINT [fk_clientes]
GO
ALTER TABLE [dbo].[fornecedores]  WITH CHECK ADD  CONSTRAINT [fk_fornecedores] FOREIGN KEY([pessoa_codigo])
REFERENCES [dbo].[pessoas] ([codigo])
GO
ALTER TABLE [dbo].[fornecedores] CHECK CONSTRAINT [fk_fornecedores]
GO
ALTER TABLE [dbo].[usuarios]  WITH CHECK ADD  CONSTRAINT [fk_usuarios] FOREIGN KEY([pessoa_codigo])
REFERENCES [dbo].[pessoas] ([codigo])
GO
ALTER TABLE [dbo].[usuarios] CHECK CONSTRAINT [fk_usuarios]
GO
ALTER TABLE [dbo].[pessoas]  WITH CHECK ADD  CONSTRAINT [ck_pessoas_tipo_documento] CHECK  (([tipo_documento]='CNPJ' OR [tipo_documento]='CPF'))
GO
ALTER TABLE [dbo].[pessoas] CHECK CONSTRAINT [ck_pessoas_tipo_documento]
GO
ALTER TABLE [dbo].[pessoas]  WITH CHECK ADD  CONSTRAINT [ck_pessoas_tipo_pessoa] CHECK  (([tipo_pessoa]='fornecedor' OR [tipo_pessoa]='usuario' OR [tipo_pessoa]='cliente'))
GO
ALTER TABLE [dbo].[pessoas] CHECK CONSTRAINT [ck_pessoas_tipo_pessoa]
GO
USE [master]
GO
